{:blocks (
{:block/created-at 1735984896448
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "xxl"
:fill ""
:type "text"
:size [712 82]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c262aa60-ca82-11ef-b493-f597e850ebb5"
:padding 4
:fontWeight 400
:noFill true
:point [-48 -24]
:lineHeight 1.2
:fontSize 60
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984843070
:italic false
:text "Abstract Factory Pattern"}}
:block/updated-at 1735984896448} 
{:block/created-at 1735984942796
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 1
:scale [1 1]
:scaleLevel "xxl"
:fill ""
:type "box"
:size [704 648]
:strokeType "line"
:strokeWidth 6
:opacity 1
:label ""
:id "cf492010-ca82-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill true
:point [-40 168]
:fontSize 60
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984865592
:italic false}}
:block/updated-at 1735984942796} 
{:block/created-at 1735984980234
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "purple"
:rotation 6.278957764729256
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "md"
:fill "purple"
:type "box"
:size [128 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Company"
:id "e2627fc0-ca82-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill true
:isLocked false
:point [248 192]
:fontSize 20
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984748485
:italic false}}
:block/updated-at 1735984980234} 
{:block/created-at 1735984936993
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 3
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createMonitor"
:id "e2627fc1-ca82-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [248 264]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776357
:italic false}}
:block/updated-at 1735984936993} 
{:block/created-at 1735984936993
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 4
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createGPU"
:id "e2627fc2-ca82-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [248 304]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776437
:italic false}}
:block/updated-at 1735984936993} 
{:block/created-at 1735984936993
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 5
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createUsb"
:id "e2627fc3-ca82-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [248 344]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776523
:italic false}}
:block/updated-at 1735984936993} 
{:block/created-at 1735984976772
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "purple"
:rotation 0
:borderRadius 0
:index 6
:scale [1 1]
:scaleLevel "md"
:fill "purple"
:type "text"
:size [187 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ff01c500-ca82-11ef-b493-f597e850ebb5"
:padding 4
:fontWeight 400
:noFill true
:point [216 88]
:lineHeight 1.2
:fontSize 20
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984944986
:italic false
:text "Company package"}}
:block/updated-at 1735984976772} 
{:block/created-at 1735985038685
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [128 88]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Asus"
:id "1c1c54c0-ca83-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill true
:point [40 480]
:fontSize 20
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984993825
:italic false}}
:block/updated-at 1735985038685} 
{:block/created-at 1735985042134
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 8
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createMonitor"
:id "3269b650-ca83-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [40 568]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776427
:italic false}}
:block/updated-at 1735985042134} 
{:block/created-at 1735985042134
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 10
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createUsb"
:id "3269b652-ca83-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [40 648]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776593
:italic false}}
:block/updated-at 1735985042134} 
{:block/created-at 1735985042134
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 6.278957764729256
:borderRadius 2
:index 9
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "box"
:size [128 40]
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "createGPU"
:id "3269b651-ca83-11ef-b493-f597e850ebb5"
:fontWeight 400
:noFill false
:isLocked false
:point [40 608]
:fontSize 10
:parentId "67790656-1f75-4bbc-a023-88efe9ffe98f"
:nonce 1735984776507
:italic false}}
:block/updated-at 1735985042134})
:pages (
{:block/uuid #uuid "67790656-1f75-4bbc-a023-88efe9ffe98f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "67790656-1f75-4bbc-a023-88efe9ffe98f"
:name "design patterns in go lang"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("c262aa60-ca82-11ef-b493-f597e850ebb5" "cf492010-ca82-11ef-b493-f597e850ebb5" "e2627fc0-ca82-11ef-b493-f597e850ebb5" "e2627fc1-ca82-11ef-b493-f597e850ebb5" "e2627fc2-ca82-11ef-b493-f597e850ebb5" "e2627fc3-ca82-11ef-b493-f597e850ebb5" "ff01c500-ca82-11ef-b493-f597e850ebb5" "1c1c54c0-ca83-11ef-b493-f597e850ebb5" "3269b650-ca83-11ef-b493-f597e850ebb5" "3269b651-ca83-11ef-b493-f597e850ebb5" "3269b652-ca83-11ef-b493-f597e850ebb5")}}
:block/updated-at 1735985042133
:block/created-at 1735984726167
:block/type "whiteboard"
:block/name "design patterns in go lang"
:block/original-name "Design Patterns in go lang"})}