{:blocks (
{:block/created-at 1734156289351
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "xl"
:fill ""
:type "text"
:size [376 68]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4ef3b7b0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [432 160]
:lineHeight 1.2
:fontSize 48
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156281545
:italic false
:text "Perfect Squares"}}
:block/updated-at 1734156289351} 
{:block/created-at 1734156316550
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked false
:stroke "yellow"
:rotation 0
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill "yellow"
:type "text"
:size [232 32]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56c27760-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [120 256]
:lineHeight 1.2
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156294875
:italic false
:text "why greedy won't work"}}
:block/updated-at 1734156316550} 
{:block/created-at 1734156542430
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "12"
:id "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:point [184 336]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156344701
:italic false}}
:block/updated-at 1734156542430} 
{:block/created-at 1734156737262
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "9"
:id "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [184 464]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156345046
:italic false}}
:block/updated-at 1734156737262} 
{:block/created-at 1734156741358
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "0"
:id "7fcb6130-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [184 592]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156345020
:italic false}}
:block/updated-at 1734156741358} 
{:block/created-at 1734156574314
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 5
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [266 87]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "928d7920-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [-224 328]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156395179
:italic false
:text "If we go greedily we will \nobviously pick up the largest\nperfect square which in this case \nis 9 = 3^2  + 3^2."}}
:block/updated-at 1734156574314} 
{:block/created-at 1734156453449
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [80 376]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [100 0]
:bindingId "b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156446669
:italic false}}
:block/updated-at 1734156453449} 
{:block/created-at 1734156735244
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 7
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [347 68]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b56e4e60-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:isLocked false
:point [-240 464]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156395533
:italic false
:text "For 9 now we have in this case we only have\nthe option to take 1 as the perfect square\n12 - 9 = 3 = 1^2 + 1^2 + 1^2."}}
:block/updated-at 1734156735244} 
{:block/created-at 1734156476681
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [224 416]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [0 44]
:bindingId "c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156472027
:italic false}}
:block/updated-at 1734156476681} 
{:block/created-at 1734156540830
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c3471350-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:isLocked false
:point [220.6777343749999 545.92578125]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [0 44]
:bindingId nil}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156472027
:italic false}}
:block/updated-at 1734156540830} 
{:block/created-at 1734156778707
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 10
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [356 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "64865f50-b9e2-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [-248 608]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156747356
:italic false
:text "Totally we had taken 5 steps which is not the \noptimal answer."}}
:block/updated-at 1734156778707} 
{:block/created-at 1734156801608
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 11
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "12"
:id "7fe66dd0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:point [736 328]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793192
:italic false}}
:block/updated-at 1734156801608})
:pages (
{:block/uuid #uuid "675d1fdc-d12d-433b-807d-19b9838d936d"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "675d1fdc-d12d-433b-807d-19b9838d936d"
:name "dp explained"
:bindings 
{:b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6 
{:id "b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6"
:toId "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.57 0.55]
:distance 4}
:c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6 
{:id "c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6"
:toId "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.55 0.53]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("4ef3b7b0-b9e1-11ef-8dbd-1ff0b9c97bf6" "56c27760-b9e1-11ef-8dbd-1ff0b9c97bf6" "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6" "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6" "7fcb6130-b9e1-11ef-8dbd-1ff0b9c97bf6" "928d7920-b9e1-11ef-8dbd-1ff0b9c97bf6" "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6" "b56e4e60-b9e1-11ef-8dbd-1ff0b9c97bf6" "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6" "c3471350-b9e1-11ef-8dbd-1ff0b9c97bf6" "64865f50-b9e2-11ef-8dbd-1ff0b9c97bf6" "7fe66dd0-b9e2-11ef-8dbd-1ff0b9c97bf6")}}
:block/updated-at 1734156801608
:block/created-at 1734156252915
:block/type "whiteboard"
:block/name "dp explained"
:block/original-name "DP explained"})}