{:blocks (
{:block/created-at 1734156289351
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "xl"
:fill ""
:type "text"
:size [376 68]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4ef3b7b0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [432 160]
:lineHeight 1.2
:fontSize 48
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156281545
:italic false
:text "Perfect Squares"}}
:block/updated-at 1734156289351} 
{:block/created-at 1734156316550
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked false
:stroke "yellow"
:rotation 0
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill "yellow"
:type "text"
:size [232 32]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56c27760-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [120 256]
:lineHeight 1.2
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156294875
:italic false
:text "why greedy won't work"}}
:block/updated-at 1734156316550} 
{:block/created-at 1734156542430
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "12"
:id "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:point [184 336]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156344701
:italic false}}
:block/updated-at 1734156542430} 
{:block/created-at 1734156737262
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "9"
:id "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [184 464]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156345046
:italic false}}
:block/updated-at 1734156737262} 
{:block/created-at 1734156741358
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "ellipse"
:size [72 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "0"
:id "7fcb6130-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [184 592]
:fontSize 20
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156345020
:italic false}}
:block/updated-at 1734156741358} 
{:block/created-at 1734156574314
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 5
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [266 87]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "928d7920-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [-224 328]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156395179
:italic false
:text "If we go greedily we will \nobviously pick up the largest\nperfect square which in this case \nis 9 = 3^2  + 3^2."}}
:block/updated-at 1734156574314} 
{:block/created-at 1734156453449
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [80 376]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [100 0]
:bindingId "b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156446669
:italic false}}
:block/updated-at 1734156453449} 
{:block/created-at 1734156735244
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 7
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [347 68]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b56e4e60-b9e1-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:isLocked false
:point [-240 464]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156395533
:italic false
:text "For 9 now we have in this case we only have\nthe option to take 1 as the perfect square\n12 - 9 = 3 = 1^2 + 1^2 + 1^2."}}
:block/updated-at 1734156735244} 
{:block/created-at 1734156476681
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [224 416]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [0 44]
:bindingId "c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156472027
:italic false}}
:block/updated-at 1734156476681} 
{:block/created-at 1734156540830
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "c3471350-b9e1-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:isLocked false
:point [220.6777343749999 545.92578125]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [0 44]
:bindingId nil}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156472027
:italic false}}
:block/updated-at 1734156540830} 
{:block/created-at 1734156778707
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 10
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "text"
:size [356 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "64865f50-b9e2-11ef-8dbd-1ff0b9c97bf6"
:padding 4
:fontWeight 400
:noFill true
:point [-248 608]
:lineHeight 1.2
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156747356
:italic false
:text "Totally we had taken 5 steps which is not the \noptimal answer."}}
:block/updated-at 1734156778707} 
{:block/created-at 1734156801608
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 11
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "12"
:id "7fe66dd0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:point [736 328]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793192
:italic false}}
:block/updated-at 1734156801608} 
{:block/created-at 1734156970620
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 12
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "11"
:id "86f252b0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [536 472]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793830
:italic false}}
:block/updated-at 1734156970620} 
{:block/created-at 1734156884971
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 13
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "8"
:id "87cef710-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [672 480]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793325
:italic false}}
:block/updated-at 1734156884971} 
{:block/created-at 1734156840641
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 14
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "9"
:id "885f7740-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [800 480]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793449
:italic false}}
:block/updated-at 1734156840641} 
{:block/created-at 1734156960504
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 15
:scale [1 1]
:scaleLevel "sm"
:fill ""
:type "ellipse"
:size [72 64]
:strokeType "line"
:strokeWidth 1.6
:opacity 1
:label "16"
:id "906a0770-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill false
:isLocked false
:point [1056 480]
:fontSize 16
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156793485
:italic false}}
:block/updated-at 1734156960504} 
{:block/created-at 1734156970619
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 16
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "if we take 1^2"
:id "a8639262-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [612 384]
:fontSize 10
:handles 
{:start 
{:id "start"
:canBind true
:point [124 0]}
:end 
{:id "end"
:canBind true
:point [0 86.74]
:bindingId "a8639261-b9e2-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156861211
:italic false}}
:block/updated-at 1734156970619} 
{:block/created-at 1734156904137
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 17
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "if we take 2^2"
:id "bae34a20-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [722.14 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [29.86 0]}
:end 
{:id "end"
:canBind true
:point [0 76]
:bindingId "bae32311-b9e2-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156892160
:italic false}}
:block/updated-at 1734156904137} 
{:block/created-at 1734156919692
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 18
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "if we take 3^2"
:id "c5c90dd2-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [792 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [37.81 76]
:bindingId "c5c90dd1-b9e2-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156910476
:italic false}}
:block/updated-at 1734156919692} 
{:block/created-at 1734156960503
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "#ff0000"
:index 19
:scale [1 1]
:scaleLevel "xs"
:fill "#ff0000"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "we can't take this too much"
:id "cda22dc1-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [816 384]
:fontSize 10
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [236 100.3]
:bindingId "cda22dc0-b9e2-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156923655
:italic false}}
:block/updated-at 1734156960503} 
{:block/created-at 1734156981838
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 20
:scale [1 1]
:scaleLevel "xs"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "ed29ecf0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [376 535.02]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [156 0]
:bindingId "ed29c5e0-b9e2-11ef-8dbd-1ff0b9c97bf6"}
:end 
{:id "end"
:canBind true
:point [0 120.98]
:bindingId nil}}
:decorations 
{:start nil
:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734156976561
:italic false}}
:block/updated-at 1734156981838} 
{:block/created-at 1734157122052
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 21
:scale [1 1]
:pageId "675bce23-7498-4656-a1f5-c3ba532e8c0c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 63]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3e3266e0-b9e3-11ef-8dbd-1ff0b9c97bf6"
:noFill false
:point [936 168]
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:collapsedHeight 0
:nonce 1734157112466}}
:block/updated-at 1734157122052} 
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 22
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "47e41762-b9e3-11ef-8dbd-1ff0b9c97bf6"
:fontWeight 400
:noFill true
:point [812 200]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [124 0]}
:end 
{:id "end"
:canBind true
:point [0 0.03]
:bindingId "47e41761-b9e3-11ef-8dbd-1ff0b9c97bf6"}}
:decorations 
{:end "arrow"}
:parentId "675d1fdc-d12d-433b-807d-19b9838d936d"
:nonce 1734157128723
:italic false}}
:block/updated-at 1734157130202})
:pages (
{:block/uuid #uuid "675d1fdc-d12d-433b-807d-19b9838d936d"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "675d1fdc-d12d-433b-807d-19b9838d936d"
:name "dp explained"
:bindings 
{:b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6 
{:id "b1589f11-b9e1-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6"
:toId "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.57 0.55]
:distance 4}
:c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6 
{:id "c07ea481-b9e1-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6"
:toId "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.55 0.53]
:distance 4}
:a8639261-b9e2-11ef-8dbd-1ff0b9c97bf6 
{:id "a8639261-b9e2-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "a8639262-b9e2-11ef-8dbd-1ff0b9c97bf6"
:toId "86f252b0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.38 0.52]
:distance 4}
:bae32311-b9e2-11ef-8dbd-1ff0b9c97bf6 
{:id "bae32311-b9e2-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "bae34a20-b9e2-11ef-8dbd-1ff0b9c97bf6"
:toId "87cef710-b9e2-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:c5c90dd1-b9e2-11ef-8dbd-1ff0b9c97bf6 
{:id "c5c90dd1-b9e2-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "c5c90dd2-b9e2-11ef-8dbd-1ff0b9c97bf6"
:toId "885f7740-b9e2-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.66 0.53]
:distance 4}
:cda22dc0-b9e2-11ef-8dbd-1ff0b9c97bf6 
{:id "cda22dc0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "cda22dc1-b9e2-11ef-8dbd-1ff0b9c97bf6"
:toId "906a0770-b9e2-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.73 0.46]
:distance 4}
:ed29c5e0-b9e2-11ef-8dbd-1ff0b9c97bf6 
{:id "ed29c5e0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "ed29ecf0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:toId "86f252b0-b9e2-11ef-8dbd-1ff0b9c97bf6"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:47e41761-b9e3-11ef-8dbd-1ff0b9c97bf6 
{:id "47e41761-b9e3-11ef-8dbd-1ff0b9c97bf6"
:type "line"
:fromId "47e41762-b9e3-11ef-8dbd-1ff0b9c97bf6"
:toId "4ef3b7b0-b9e1-11ef-8dbd-1ff0b9c97bf6"
:handleId "end"
:point [0.49 0.58]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("4ef3b7b0-b9e1-11ef-8dbd-1ff0b9c97bf6" "56c27760-b9e1-11ef-8dbd-1ff0b9c97bf6" "74944930-b9e1-11ef-8dbd-1ff0b9c97bf6" "7eca44e0-b9e1-11ef-8dbd-1ff0b9c97bf6" "7fcb6130-b9e1-11ef-8dbd-1ff0b9c97bf6" "928d7920-b9e1-11ef-8dbd-1ff0b9c97bf6" "b1589f12-b9e1-11ef-8dbd-1ff0b9c97bf6" "b56e4e60-b9e1-11ef-8dbd-1ff0b9c97bf6" "c07ecb90-b9e1-11ef-8dbd-1ff0b9c97bf6" "c3471350-b9e1-11ef-8dbd-1ff0b9c97bf6" "64865f50-b9e2-11ef-8dbd-1ff0b9c97bf6" "7fe66dd0-b9e2-11ef-8dbd-1ff0b9c97bf6" "86f252b0-b9e2-11ef-8dbd-1ff0b9c97bf6" "87cef710-b9e2-11ef-8dbd-1ff0b9c97bf6" "885f7740-b9e2-11ef-8dbd-1ff0b9c97bf6" "906a0770-b9e2-11ef-8dbd-1ff0b9c97bf6" "a8639262-b9e2-11ef-8dbd-1ff0b9c97bf6" "bae34a20-b9e2-11ef-8dbd-1ff0b9c97bf6" "c5c90dd2-b9e2-11ef-8dbd-1ff0b9c97bf6" "cda22dc1-b9e2-11ef-8dbd-1ff0b9c97bf6" "ed29ecf0-b9e2-11ef-8dbd-1ff0b9c97bf6" "3e3266e0-b9e3-11ef-8dbd-1ff0b9c97bf6" "47e41762-b9e3-11ef-8dbd-1ff0b9c97bf6")}}
:block/updated-at 1734157130201
:block/created-at 1734156252915
:block/type "whiteboard"
:block/name "dp explained"
:block/original-name "DP explained"})}