{:blocks (
{:block/created-at 1732258453521
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "xxl"
:fill ""
:type "text"
:size [502 82]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "01150a70-a89e-11ef-8db5-81783037ec48"
:padding 4
:fontWeight 400
:noFill true
:point [392 168]
:lineHeight 1.2
:fontSize 60
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258204868
:italic false
:text "User Registration"}}
:block/updated-at 1732258453521} 
{:block/created-at 1732258252056
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [131 130]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "09df8f40-a89e-11ef-8db5-81783037ec48"
:padding 4
:fontWeight 400
:noFill true
:point [208 352]
:lineHeight 1.2
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258219654
:italic false
:text "Payload\n\n1. Email\n2. Username\n3. Password"}}
:block/updated-at 1732258252056} 
{:block/created-at 1732258329407
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [216 48]
:strokeType "dashed"
:strokeWidth 2
:opacity 1
:label "Payload Validation"
:id "2c907ae0-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill false
:point [416 392]
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258278648
:italic false}}
:block/updated-at 1732258329407} 
{:block/created-at 1732258329408
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "39e2f8d2-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill true
:point [340 416.45]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0.28]
:bindingId "39e2f8d0-a89e-11ef-8db5-81783037ec48"}
:end 
{:id "end"
:canBind true
:point [72 0]
:bindingId "39e2f8d1-a89e-11ef-8db5-81783037ec48"}}
:decorations 
{:end "arrow"}
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258300262
:italic false}}
:block/updated-at 1732258329408} 
{:block/created-at 1732258340050
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 4
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [216 48]
:strokeType "dashed"
:strokeWidth 2
:opacity 1
:label "Password hashing"
:id "4cd74450-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill false
:point [732 392]
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258331947
:italic false}}
:block/updated-at 1732258340050} 
{:block/created-at 1732258331950
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "4cd79270-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill true
:point [633 416]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "4cd79271-a89e-11ef-8db5-81783037ec48"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "4cd79272-a89e-11ef-8db5-81783037ec48"}}
:decorations 
{:end "arrow"}
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258331928
:italic false}}
:block/updated-at 1732258331950} 
{:block/content "((673eedab-ce3a-45c1-908e-7d4cc9796a4a))"
:block/format :markdown
:block/left 
{:block/uuid #uuid "67402975-fffc-4eb7-b498-0918ecd52750"}
:block/parent 
{:block/uuid #uuid "67402975-fffc-4eb7-b498-0918ecd52750"}
:block/uuid #uuid "67402a3f-fd12-410a-aa81-ccec16da8fa5"} 
{:block/created-at 1732258374725
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "67402a3f-fd12-410a-aa81-ccec16da8fa5"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 339.25]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "622de9d0-a89e-11ef-8db5-81783037ec48"
:noFill false
:isLocked false
:point [648 480]
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:collapsedHeight 0
:nonce 1732258367894}}
:block/updated-at 1732258374725} 
{:block/created-at 1732258404613
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "69258362-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill true
:point [840 448]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 32]}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId nil}}
:decorations 
{:end "arrow"}
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258379466
:italic false}}
:block/updated-at 1732258404613} 
{:block/created-at 1732258404674
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [61 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "758c1ab0-a89e-11ef-8db5-81783037ec48"
:padding 4
:fontWeight 400
:noFill true
:point [1216 264]
:lineHeight 1.2
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258400233
:italic false
:text "UUID"}}
:block/updated-at 1732258404674} 
{:block/created-at 1732258467317
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [216 56]
:strokeType "dashed"
:strokeWidth 2
:opacity 1
:label "Token creation with uuid package "
:id "801ce090-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill false
:point [1152 384]
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258418043
:italic false}}
:block/updated-at 1732258467317} 
{:block/created-at 1732258446249
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 10
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "8e062040-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill true
:point [1246.81 302]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [1.19 82]}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "8e05f931-a89e-11ef-8db5-81783037ec48"}}
:decorations 
{:start "arrow"
:end nil}
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258441565
:italic false}}
:block/updated-at 1732258446249} 
{:block/created-at 1732258482701
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 11
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [216 56]
:strokeType "dashed"
:strokeWidth 2
:opacity 1
:label "Hashing token"
:id "a19d6280-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill false
:point [1152 540]
:fontSize 20
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258474169
:italic false}}
:block/updated-at 1732258482701} 
{:block/created-at 1732258474228
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 12
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "a19db0a0-a89e-11ef-8db5-81783037ec48"
:fontWeight 400
:noFill true
:point [1260 441]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "a19db0a1-a89e-11ef-8db5-81783037ec48"}
:end 
{:id "end"
:canBind true
:point [0 95]
:bindingId "a19db0a2-a89e-11ef-8db5-81783037ec48"}}
:decorations 
{:end "arrow"}
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:nonce 1732258474155
:italic false}}
:block/updated-at 1732258474228} 
{:block/content "((67402ac5-2ea5-4e4d-b4c6-b0de4d020160))"
:block/format :markdown
:block/left 
{:block/uuid #uuid "67402a3f-fd12-410a-aa81-ccec16da8fa5"}
:block/parent 
{:block/uuid #uuid "67402975-fffc-4eb7-b498-0918ecd52750"}
:block/uuid #uuid "67402ad2-9ea8-4b23-9705-a20d0f43b7fb"} 
{:block/created-at 1732258528034
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 13
:scale [1 1]
:pageId "67402ad2-9ea8-4b23-9705-a20d0f43b7fb"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 97.375]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b9dfb640-a89e-11ef-8db5-81783037ec48"
:noFill false
:isLocked false
:point [1432 520]
:parentId "67402975-fffc-4eb7-b498-0918ecd52750"
:collapsedHeight 0
:nonce 1732258515004}}
:block/updated-at 1732258528034})
:pages (
{:block/uuid #uuid "67402975-fffc-4eb7-b498-0918ecd52750"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "67402975-fffc-4eb7-b498-0918ecd52750"
:name "go lang"
:bindings 
{:39e2f8d0-a89e-11ef-8db5-81783037ec48 
{:id "39e2f8d0-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "39e2f8d2-a89e-11ef-8db5-81783037ec48"
:toId "09df8f40-a89e-11ef-8db5-81783037ec48"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:39e2f8d1-a89e-11ef-8db5-81783037ec48 
{:id "39e2f8d1-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "39e2f8d2-a89e-11ef-8db5-81783037ec48"
:toId "2c907ae0-a89e-11ef-8db5-81783037ec48"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:4cd79271-a89e-11ef-8db5-81783037ec48 
{:id "4cd79271-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "4cd79270-a89e-11ef-8db5-81783037ec48"
:toId "2c907ae0-a89e-11ef-8db5-81783037ec48"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:4cd79272-a89e-11ef-8db5-81783037ec48 
{:id "4cd79272-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "4cd79270-a89e-11ef-8db5-81783037ec48"
:toId "4cd74450-a89e-11ef-8db5-81783037ec48"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:8e05f931-a89e-11ef-8db5-81783037ec48 
{:id "8e05f931-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "8e062040-a89e-11ef-8db5-81783037ec48"
:toId "758c1ab0-a89e-11ef-8db5-81783037ec48"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:a19db0a1-a89e-11ef-8db5-81783037ec48 
{:id "a19db0a1-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "a19db0a0-a89e-11ef-8db5-81783037ec48"
:toId "801ce090-a89e-11ef-8db5-81783037ec48"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:a19db0a2-a89e-11ef-8db5-81783037ec48 
{:id "a19db0a2-a89e-11ef-8db5-81783037ec48"
:type "line"
:fromId "a19db0a0-a89e-11ef-8db5-81783037ec48"
:toId "a19d6280-a89e-11ef-8db5-81783037ec48"
:handleId "end"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("01150a70-a89e-11ef-8db5-81783037ec48" "09df8f40-a89e-11ef-8db5-81783037ec48" "2c907ae0-a89e-11ef-8db5-81783037ec48" "39e2f8d2-a89e-11ef-8db5-81783037ec48" "4cd74450-a89e-11ef-8db5-81783037ec48" "4cd79270-a89e-11ef-8db5-81783037ec48" "622de9d0-a89e-11ef-8db5-81783037ec48" "69258362-a89e-11ef-8db5-81783037ec48" "758c1ab0-a89e-11ef-8db5-81783037ec48" "801ce090-a89e-11ef-8db5-81783037ec48" "8e062040-a89e-11ef-8db5-81783037ec48" "a19d6280-a89e-11ef-8db5-81783037ec48" "a19db0a0-a89e-11ef-8db5-81783037ec48" "b9dfb640-a89e-11ef-8db5-81783037ec48")}}
:block/updated-at 1732258528034
:block/created-at 1732258165833
:block/type "whiteboard"
:block/name "go lang"
:block/original-name "go lang"})}